NEXT_PUBLIC_MEDIASTACK_API_KEY=YOUR_API_KEY
NEXT_PUBLIC_MEDIASTACK_BASE_URL=https://api.mediastack.com/v1

NEXT_PUBLIC_TVMAZE_BASE_URL=https://api.tvmaze.com

NEXT_PUBLIC_DUMMYJSON_BASE_URL=https://dummyjson.com
